<nav class="py-4">
    <ul class="flex justify-center gap-1 font-light">
        <li class="nav-item">
            <a href="/">home</a>
        </li>
        <li class="nav-item">
            <a href="/projects">projects</a>
        </li>
    </ul>
</nav>

<style>
    .nav-item {
        @apply hover:bg-zinc-50 hover:rotate-3  rounded-md hover:outline transition outline-zinc-100 py-1 px-2;
    }
</style>
